
body
{
  overflow-x: hidden;
}

.BackGround 
{
  position: fixed; 
  width:  100%;
  height: 100%;
  top : 0%;
  left : 0%;
  background: rgb(160, 208, 247);
}

.boxContainer
{
  width:  auto;
  overflow: scroll;
  height: 85%;     /* 高さを制限(※) */
}

.Container
{
  width:  100%;
  position: relative;
  top : 0;
  right : 0;
  margin: 50px 0px 50px 0px;
}


.messageContainer
{ 
  display: flex;
  flex-direction: row;

  width:  100%;
  left : 0;
  position: relative;
}

.profileIconContainer
{
  width : 47px;
  height : 47px;

  border-radius: 50px;
  position: absolute;
  top : 0px;
  left : 0px;
}

.nameContainer
{
  position: relative;
  left: 60px;
}

.messageandTimeContainer
{
  position: relative;
  top: 25px;
  left: 5px;
}

.nameText
{
  font-size : 18px;
  position: absolute;
  left: 10px;
  top: -5px;
}

.messageText
{
  max-width: 85%;

  display: inline-block;

  position: relative;
  padding: 8px 15px;
  border-radius: 12px;
  background: white; 
}

.messageText:after 
{
  content: "";
  display: inline-block;
  position: absolute;
  top: 4px; 
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid white; 
  transform: rotate(20deg);
}

.timeText
{
  display: inline-block;

  font-size : 13px;
  position: relative;
  left: 10px;
  top: 10px;
}







.myMessageContainer
{ 
  display: flex;
   flex-direction: row-reverse;

  width:  100%;
  right : 0;
  position: relative;
}

.myProfileIconContainer
{
  width : 47px;
  height : 47px;

  border-radius: 50px;
  position: relative;
  margin: 0px 0px 0px 20px;
}

.myNameContainer
{
  display: flex;
  flex-direction: row-reverse;
   
  position: relative;
}

.myMessageandTimeContainer
{
  display:flex;
  flex-direction: column-reverse;

  position: relative;
  top: 25px;
  left: 5px;
}

.myNameText
{
  font-size : 18px;
  position: absolute;
  right: 10px;
  top: -5px;
}

.myMessageText
{
  position: relative;
  padding: 8px 15px;
  border-radius: 12px;
  background: lime; 
}

.myMessageText:after 
{
  content: "";
  display: inline-block;
  position: absolute;
  top: -7px;
  right: -4px;
  border: 17px solid transparent;
  border-right: 14px solid lime;
  transform: rotate(35deg);
}

.myTimeText
{

  font-size : 13px;
  position: relative;
  left: -140px;
  bottom: 20px;
}

.textEditor
{
  width : 100%;
  height: 15%;
  position: relative;
  top : 0%;
}

.point
{
  display: inline-block;
  font-size: 25px;
  position: absolute;
  bottom : -10px;
  right : 0px;
}
